
<section class="pr">

  <div class="jumbotron">

  <h3>
  <%= link_to [:admin, :products] do %>
    Products in the database: <%= @products_count %>
  <% end %> 
  </h3> 

  <h3>
  <%= link_to :root do %>
    Categories in the database: <%= @categories_count %>
  <% end %> 
  </h3> 

  </section>
