<section class="admin-products-index">

  <header class="page-header">
    <h1>About Page</h1>
  </header>

  <div class="well">
    <p>Welcome to our About page! Later we will add something more meaningful here...</p>
  </div>


</section>